.developers {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.link {
  border-radius: 4px;
  outline: 1px solid transparent;
}
.link:hover,
.link a:active {
  color: #780096;
}
.link:focus-visible {
  color: #780096;
  outline-color: #780096;
}