.container {
  display: flex;
  gap: 24px;
  align-items: left;
  flex-direction: column;

  @media (min-width: 580px) {
    display: grid;
    justify-content: space-between;
    grid-template-areas:
      "logo contacts"
      "devInfo devInfo";
  }
}

.logo {
  grid-area: logo;
}

.contacts {
  grid-area: contacts;
}

.devInfo {
  grid-area: devInfo;
}
